<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GroceryDB" value="Data Source=localhost,1433;Initial Catalog=Shopping;User ID=sa;Password=p@ssw0rd" />
        <!--<add key="log4net.Internal.Debug" value="true"/>-->
        <add key="log4net.Config" value="log4net.config"/>
    </appSettings>
</configuration>
